/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

#Details {
    margin-left: 10px;
}

#strukturtable{
	margin-top: 10px;
    margin-bottom: 10px;
}

#Topbar {
	height: 40px;
    margin-top: 20px;
    background-color: #13117b;
}

#Foot {
	background-color: #13117b;
    height: 80px;
}
#Header {
	background-color: #13117b;
    margin-left: 0px;
    margin-right: 0px;
    height: 105px;
    border-radius: 26px;
    margin-top: -30px;
}

h1 {
  color: white;
    text-align: center;
    font-family: serif;
    font-size: 30px;
    margin: 40px 0px 70px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.topbarbutton {
	width: 250px;
	height: 34px;
}
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

